  /* fonts */
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Poppins:ital,wght@0,500;1,400&family=Raleway&family=Source+Sans+Pro:wght@400;700&display=swap');


/* common styles */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    justify-content: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;

}
.top-players{
    
    margin-bottom: 30px;
}
.hr{
    border: 1px solid #D1D1D1;
}
.section-title{
    font-size: 24px;    
    color: #562EFF;
    margin-top: 3px;
}

/* top players style */
.players{
    display: grid;
    grid-row-gap: 30px;

    grid-template-columns: repeat(3, 1fr); 
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
    
}
.player-name{
    margin-left: 16px;
    font-size: 18px;

}
